 .site-footer .icon {
	font-size: 20px;
}

.site-footer .love .icon {
	font-size: 12px;
	margin-left: 2px;
	margin-right: 2px;
}

.footer-heart{
	background-color:black;
  color:white ;
  font-family:"Gill Sans", sans-serif;
  align-items: center;
  border-bottom: 1px solid ;
  height: 40px;
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 0%;
}
    

.footer{

  bottom: 0;
  width: 100%;
  overflow: hidden;
}